.navbar {
    display: flex;
    justify-content: space-between;
    background-color: rgb(126, 35, 35);
    padding: 1em;
    margin-bottom: 3em;
  }
  
  .list {
    display: flex;
    list-style: none;
    align-items: center;
    padding-left: 45%;
    font-size: 20px;
  }
  
  .item {
    margin-right: 5em;
  }
  
  .item a {
    color: #fff;
    text-decoration: none;
  }
  
  .item a:hover {
    color: #ffbb33;
    text-decoration: none;
  }